//
//  Staging.xcconfig
//  CloudOnMobile
//
//  Created by Karol P on 28/12/2021.
//

#include "Common.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = STAGING
PRODUCT_BUNDLE_IDENTIFIER = cc.cloudon.ios.staging
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-staging
MARKETING_VERSION = $(_BUILD_VERSION_DEVELOPMENT)
